//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 29 17:44:56 2017
//! **************************************************************************

SCHEMATIC START;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

