//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 30 18:04:48 2017
//! **************************************************************************

SCHEMATIC START;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

