//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 31 20:02:32 2017
//! **************************************************************************

SCHEMATIC START;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

