//! **************************************************************************
// Written by: Map P.20131013 on Mon Oct 23 19:30:38 2017
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

